.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    font-size: 22px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}