.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.education-title{
    position: relative;

}
.education-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.education-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.education-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    align-items: center;
}
.education-container{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 80px; 

}
.education-format h1{
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(270deg, #f4d03f 50%, #16a085 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.education-format h2{
    font-size: 25px;
    color: aqua;
}
.education-format p{
    color: #d4d4d4;
    font-size: 20px;

}
.education-format p1{
    font-size: 20px;
}
.education-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg,#20002c,#cbb4d4);
    transform: scale(1.05);
    transition: 0.4s;
}
